mixin svg(file)
  != fs.readFileSync(file + '.svg', 'utf8')

svg(xmlns="http://www.w3.org/2000/svg" style="display: none;") 
  - each icon in icons
    symbol(id="#{icon.id}" viewBox="#{icon.viewbox || defaultViewBox}")
      +svg(icon.id)

