doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    link(rel="stylesheet" href="icons.css")

  body
    .wrapper
      h1 SVG Icons
      p Proof of concept for the consideration of PixelBuddha

      h2 Responsive test
      != fs.readFileSync('responsive.svg', 'utf8')

      - each icon in icons
        svg.icon
          use(xlink:href="##{icon.id}")

      p
        | Each icon is created by using an svg tag with the class of "icon". 
        | Inside of that, the user can refer to a single-word id for the icon.

      :markdown
        <span>

            <svg class="icon">
              <use xlink:href="#backpack"></use>
            </svg>

      p
        | These are actually symbol references to the main library of SVGs, which
        | can be included in the HTML.

      p The main benefits of doing it this way are outlined here: <a href="http://css-tricks.com/svg-symbol-good-choice-icons/">CSS Tricks Article</a>

  script(src="svg4everybody.js")

